Package: enigma2-plugin-extensions-openatvstatus
Version: 2.7
Section: extra
Architecture: all
Maintainer: Mr.Servo
Source: https://github.com/openatv/openatvstatus
Description: openATV Status v2.7 - view status of OpenATV-buildserver
