Package: enigma2-plugin-extensions-openatvstatus
Version: 2.3
Section: extra
Architecture: all
Maintainer: Mr.Servo
Source: https://github.com/openatv/openatvstatus
Description: openATV Status v2.3 - view status of OpenATV-buildserver
